:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 2rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url('../images/background.webp');
    background-size: cover;
    padding-top: 3rem;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
}

img {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hidden {
    display: none;
}

.bold {
    font-weight: 600;
}

.gray-underline {
    width: 50%;
    border-bottom: #303030 solid 2px;
}

.brown-underline {
    width: 50%;
    border-bottom: #BDB76B solid 2px;
}

.basic-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-famchi {
    height: 8vh;
    width: 100%;
    /* padding: 0 2rem; */
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 9999;
    border-bottom: solid black 2px;
}

.banner-famchi a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.banner-famchi a:hover {
    color: #BDB76B;
    text-decoration: none;
}

.left-banner {
    flex-basis: 50%;
    margin: auto 0;
    text-align: start;
    padding-left: 2rem;
}

.right-banner {
    flex-basis: 50%;
    margin: auto 0;
    text-align: end;
    color: white;
    padding-right: 2rem;
}

.right-banner p {
    display: inline-block;
}

.right-banner a, .right-banner p {
    margin: auto 0;
}

.right-banner i:hover {
    color: #BDB76B;
}


.profile {
    width: 85%;
    height: 40vh;
    margin: 6rem auto 2rem auto;
    font-size: smaller;
    /* text-align: end; */
    position: relative;
    /* overflow-: hidden; */
}

.profile div {
    text-align: end;
    /* margin-left: auto; */
}

.profile p {
    transform: skew(-40deg);
    padding: 0.5rem 2rem 0.5rem 0;
    max-width: 70%;
    margin-left: auto;
}

/* add phase in effect to image */
.profile img {
    border-radius: 0 50% 50% 0;
    border: solid black 2px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.profile img.profile-img-show {
    opacity: 1;
}

.profile-info {
    height: 100%;
}

.profile-name, .profile-subtitle, .profile-desc  {
    position: unset;
    z-index: -1;
}

/* come in from right for name */
.profile-name {
    width: 85%;
    height: 20%;
    font-size: 120%;
    border: solid black 2px;
    background-color: darkslategray;
    color: white;
    transform: skew(40deg);
}

.profile-name-effects {
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: skew(40deg) translateX(300px);
}

.profile-name-effects.profile-show, .profile-desc-effects.profile-show {
    opacity: 1;
    transform: skew(40deg) translateX(0);
}

.profile-subtitle {
    height: 15%;
    width: 88%;
    /* font-size: 85%; */
    padding-left: 2rem;
    color: darkslategray;
    /* border: solid gray 1px; */
    transform: skew(40deg);
}

/* come in from left for  description*/
.profile-desc {
    width: 100%;
    background-color: darkslategray;
    color: #fff;
    min-height: 35%;
    transform: skew(40deg);
    border: solid black 2px;
}

.profile-desc-effects {
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    transform: skew(40deg) translateX(-300px);
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

@keyframes btnBounce {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-60px);
    } 100% {
        transform: translateY(0);
    }
}

.btn-effect {
    animation: btnBounce 1s ease-in-out;
}

/* #contact-btn, #exper-btn, #resume-btn {
    animation: btnBounce 1s ease-in-out;
} */

.footer {
    background: darkslategray;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5 em;
}

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.resumes {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}

.eng-btn, .spa-btn {
    display: none;
    transition: transform 1.5s ease-in-out, opacity 0.5s ease-out;
}

.show-eng {
    transform: translateX(15vw) translateY(12vh);
}

.dissolve {
    opacity: 0;
    visibility: hidden;
}

.show-spa {
    transform: translateX(15vw) translateY(-12vh);
}

.settings.show {
    opacity: 1;
    display: block;
}

.settings {
    /* width: 10vw; */
    /* height: 10vh; */
    padding: 10px;
    border: solid darkslategray 1px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast { 
    width: 25vw;
    height: 13vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: solid var(--clr-accent) 1px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 500px;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
    /* color: var(--clr-accent); */
    color: darkslategray;
    border-bottom: solid var(--clr-accent) 1px;
    /* padding: 5px 10px; */
}

.toast-body {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
}

.bi-person-square {
    margin: 0 5px;
}

.close-btn {
    height: 100%;
    border: none;
    background-color: transparent;
    border-color: var(--clr-accent);
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.1);
}